<!--Nav Bar -->
<nav class="bs-docs-sidebar">
  <ul id="sidebar" class="nav nav-stacked">
    <li>
      <a href="#Background">Background</a>
      <ul class="nav nav-stacked">
        <li><a href="#BeginningKnowledge">Beginning Knowledge</a></li>
        <li><a href="#TechnicalVision">Technical Vision</a></li>
        <li><a href="#WheresTheDocumentation">Where's the Documentation?</a></li>
        <li><a href="#Communication">Communication and Getting Help</a></li>
        <li><a href="#StartingWithBasics">Starting with Basics</a></li>
      </ul>
    </li>
    <li>
      <a href="#Setup">Setup</a>
      <ul class="nav nav-stacked">
        <li><a href="#Prerequisites">Prerequisites</a></li>
        <li><a href="#ChromeExtension">Chrome Extension</a></li>
        <li><a href="#FirefoxExtension">Firefox Extension</a></li>
        <li><a href="#TestingExtension">Testing the Extension</a></li>
        <li><a href="#ContentServer">Content Server Setup</a></li>
      </ul>
    </li>
    <li>
      <a href="#SystemOverviewHeading">Components Outline</a>
      <ul class="nav nav-stacked">
        <li><a href="#SystemOverview">Outline</a></li>
        <li><a href="#ReferenceImplementation">Reference Implementation</a></li>
        <li><a href="#API">API</a></li>
        <li><a href="#ContentScripts">Content Scripts</a></li>
        <li><a href="#UserInterface">User Interface</a></li>
        <li><a href="#URLs">Privly URLs</a></li>
        <li><a href="#LinkBasedEncryption">Link-Based Encryption</a></li>
      </ul>
    </li>
    <li>
      <a href="#PrivlyApplications">Privly Applications</a>
      <ul class="nav nav-stacked">
        <li><a href="#BuildSystem">Build System</a></li>
        <li><a href="#Testing101">Testing 101</a></li>
        <li><a href="#UnitTesting">Unit Testing</a></li>
        <li><a href="#TestCoverage">Test Coverage</a></li>
        <li><a href="#ThreatModels">Threat Models</a></li>
      </ul>
    </li>
    <li>
      <a href="#Integrations">Integrations</a>
      <ul class="nav nav-stacked">
        <li><a href="#IntegrationTesting">Integration Testing</a></li>
        <li><a href="#SauceLabs">SauceLabs</a></li>
        <li><a href="#TravisCI">TravisCI</a></li>
      </ul>
    </li>
    <li>
      <a href="#Guidelines">Guidelines</a>
      <ul class="nav nav-stacked">
        <li><a href="#IssueLabels">Issue Labels</a></li>
        <li><a href="#CodingStandards">Coding Standards</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div>
