<script type="text/javascript">
  // When the page has loaded, monitor the scrolling
  // for IDs that should be indicated in the right side's navigation.
  var readyStateCheckInterval = setInterval(function() {
      if (document.readyState === "complete") {
          $('body').scrollspy({
              target: '.bs-docs-sidebar',
              offset: 40
          });
          clearInterval(readyStateCheckInterval);
      }
  }, 100);
</script>

<!--Nav Bar -->
<nav class="col-xs-3 bs-docs-sidebar">
  <ul id="sidebar" class="nav nav-stacked fixed">
    <li>
      <a href="#Background">Background</a>
      <ul class="nav nav-stacked">
        <li><a href="#BeginningKnowledge">Beginning Knowledge</a></li>
        <li><a href="#First2Steps">First Two Steps</a></li>
        <li><a href="#IRC">IRC</a></li>
      </ul>
    </li>
    <li>
      <a href="#ExtensionSetup">Extension Setup</a>
      <ul class="nav nav-stacked">
        <li><a href="#ChromeExtension">Chrome Extension</a></li>
        <li><a href="#FirefoxExtension">Firefox Extension</a></li>
        <li><a href="#TestingExtension">Testing the Extension</a></li>
      </ul>
    </li>
    <li>
      <a href="#ContentServer">Content Server Setup</a>
    </li>
    <li>
      <a href="#SystemOverviewHeading">Components Outline</a>
      <ul class="nav nav-stacked">
        <li><a href="#SystemOverview">Outline</a></li>
        <li><a href="#ReferenceImplementation">Reference Implementation</a></li>
        <li><a href="#API">API</a></li>
        <li><a href="#ContentScripts">Content Scripts</a></li>
        <li><a href="#UserInterface">User Interface</a></li>
        <li><a href="#URLs">Privly URLs</a></li>
        <li><a href="#LinkBasedEncryption">Link-Based Encryption</a></li>
      </ul>
    </li>
  </ul>
</nav>
