<div class="resources">
	<h3>Privly Resources</h3>
	<a href="https://groups.google.com/forum/?fromgroups#!forum/privly">Development Email List</a>
	<br/>
	<a href="https://groups.google.com/forum/?fromgroups#!forum/privly-test">Tester Email List</a>
	<br/>
	<a href="http://www.privly.org/content/bug-report">Submit a Bug</a>
	<br/>
	<a href="https://github.com/privly/privly-organization/wiki">Development Wiki</a>
	<br/>
	<a href="http://www.privly.org/content/irc">Privly Chat: IRC</a>
	<br/>
	<a href="https://github.com/privly">Repositories</a>
	<br/>
	<a href="http://www.privly.org/content/irc">Privly Foundation Blog</a>
	<br/>
	<a href="/pages/donate.html">Donate</a>
</div>
<div class="resources">
	<h3>Privly Social Media</h3>
	<a href="http://twitter.com/#!/Privly">Twitter</a>
	<br/>
	<a href="https://www.facebook.com/shareprivately">Facebook</a>
	<br/>
	<a href="https://plus.google.com/116408437159289879477/posts">Google+</a>
	<br/>
	<a href="https://diasp.org/u/privly">Diaspora</a>
</div>
<div>
	<h3>Privly Gets Attention</h3>
	<a href="http://www.theatlantic.com/technology/archive/12/04/a-privacy-manifesto-in-code-what-if-your-emails-never-went-to-gmail-and-twitter-couldnt-see-your-tweets/255414/">
		<img width="230" src="/assets/images/NewsSites/atlantic_logo.gif" alt="Atlantic_logo">
	</a>
	<br>
	<br>
	<a href="http://programming.oreilly.com/2013/07/securing-user-content-in-the-javascriptable-web.html">
		<img width="230" src="/assets/images/NewsSites/oreilly.gif" alt="Oreilly Media Logo">
	</a>
	<br>
	<br>
	<a href="http://www.spiegel.de/netzwelt/web/0,1518,825950,00.html">
		<img width="230" src="/assets/images/NewsSites/Spiegel_Online_logo.png" alt="Spiegel_online_logo">
	</a>
	<br>
	<br>
	<a href="http://www.wired.co.uk/magazine/archive/2012/09/ideas-bank/how-not-to-be-a-product-on-facebook">
		<img width="230" src="/assets/images/NewsSites/wired_logo.gif" alt="Wired_logo">
	</a>
	<br>
	<br>
	<a href="http://mashable.com/2012/04/04/privly/">
		<img width="230" src="/assets/images/NewsSites/Mashable_Logo_230px.png" alt="Mashable_logo_230px">
	</a>
	<br>
</div>