@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('../volkorn.woff') format('woff');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('../lobster.woff') format('woff');
}
body {
  background:url('../images/bg.jpg');
}

/* Bootstrap Tweaks */
div.container-narrow {
  max-width:800px;
}
div.navbar-inner {
  background: #242424; 
  border: none;
  border-radius: 0;
}
div.navbar .nav > li > a {
  color:#827B6E;
  height: 42px;
  padding-top:23px;
  text-shadow:none;
  font:bold 18px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
div.navbar .nav > li > a span {
  display:block;
  color:#6C675E;
  font:14px 'Vollkorn',Georgia,"Times New Roman",Times,serif;
}
div.navbar .nav > .active > a, 
div.navbar .nav > li > a:hover,
div.navbar .nav > .active > a:hover, 
div.navbar .nav > .active > a:focus {
  color:#F3EBD9;
  background-color:transparent;
  background-image: url('../images/menuactive.gif');
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* End Bootstrap Tweaks */


#site_name {
  float:left;
  padding: 0 0 9px;
}
#site_name a {
  color:#F3EBD9;
  text-shadow:none;
  font-family:'Lobster';
  font-size:32px;
  margin: 4px 0;
}
#site_name span {
  clear:both;
  display:block;
  color:#999;
  font:bold 16px/17px "Trebuchet MS",Arial,Helvetica,sans-serif !important;
}

/* Home Page */

 /* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* End Home Page */

/* News Side Block */
#side_block {
  background:white;
  border-radius:6px;
  padding:13px;
}
#side_block h3 {
  font-size:13px;
  border-bottom:1px solid #242424;
}
