@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('../volkorn.woff') format('woff');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('../lobster.woff') format('woff');
}
body {
  background:url('../images/bg.jpg');
}

/* Bootstrap Tweaks */
div.container-narrow {
  max-width:800px;
}
div.navbar-inner {
  background: #242424;
  border: none;
  border-radius: 0;
}
div.navbar-inverse {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border: none;
}
div.navbar .nav > li > a {
  color:#827B6E;
  padding-top:23px;
  text-shadow:none;
  font:bold 18px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
div.navbar .nav > li > a span {
  display:block;
  color:#6C675E;
  font:14px 'Vollkorn',Georgia,"Times New Roman",Times,serif;
}
div.navbar .nav > .active > a,
div.navbar .nav > li > a:hover,
div.navbar .nav > .active > a:hover,
div.navbar .nav > .active > a:focus {
  color:#F3EBD9;
  background-color:transparent;
  background-image: url('../images/menuactive.gif');
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media (max-width: 436px) {
    .navbar ul.nav {
        float: none;
    }
    div.navbar .nav > .active > a,
    div.navbar .nav > li > a:hover,
    div.navbar .nav > .active > a:hover,
    div.navbar .nav > .active > a:focus {
        background-image: none;
    }
}
.navbar .btn.btn-navbar {
  padding: 16px;
  margin-top: 13px;
}
div.page-header {
  margin: 20px 0 30px;
}
/* End Bootstrap Tweaks */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
#site_name {
  float:left;
  padding: 0 0 9px;
  text-align: center;
}
#site_name a {
  color:#F3EBD9;
  text-shadow:none;
  font-family:'Lobster';
  font-size:32px;
  margin: 4px 0;
}
#site_name span {
  clear:both;
  display:block;
  color:#999;
  font:bold 16px/17px "Trebuchet MS",Arial,Helvetica,sans-serif !important;
}

/* Home Page */

 /* Main marketing message and sign up button */
div.jumbotron {
  margin: 60px 0;
  text-align: center;
  padding: 0px;
  background: transparent;
}
div.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}
@media (max-width: 420px) {
  .jumbotron h1 {
    font-size: 54px;
  }
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin-bottom: 7px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing h4 {
  font-weight: bold;
}
/* End Home Page */

/* News Side Block */
#side_block {
  background:white;
  border-radius:6px;
  padding:13px;
}
#side_block h3 {
  font-size:13px;
  border-bottom:1px solid #242424;
}
.privly-news-links img {
  width: 100%;
}

/* Download Icons */
.privly-browser-combo {
  position:relative;
  display:block;
  height:150px;
  width:150px;
}
.privly-browser-combo .privly-icon {
  position:absolute;
  right:27px;
  top:20px;
}
.privly-browser-combo .browser-icon {
  position:absolute;
  right:0;
  top:0;
  opacity:0.4;
  filter:alpha(opacity=40);
}
