<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Privly{% if page.title != nil %} &middot; {{ page.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" href="/favicon.ico" />

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ site.url }}/assets/css/privly.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ site.url }}/assets/lib/fontawesome/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />


    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body data-privly-exclude="true">
    <!-- Navbar -->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="site_name">
              <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
              <span>Share Priv(ate).ly</span>
            </div>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include privly/pages_list %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Navbar -->

    <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p class="text-center">
        {% for weight in (1..10) %}
          {% for page in site.pages %}
             {% if page.weight == nil %}{% assign page_weight = 9 %}{% else %}{% assign page_weight = page.weight %}{% endif %}
             {% if page_weight == weight %}{% if page.hide_from_footer == nil %}<a href="{{ BASE_PATH }}{{page.url}}">{{ page.title }}</a> {% if forloop.last != true %}|{% endif %}{% endif %}{% endif %}
          {% endfor %}
        {% endfor %}
        </p>
        <p class="text-center">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
        </p>
      </footer>

    </div>

    {% include JB/analytics %}
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
