
<div class="jumbotron">
  <h1>Share Priv(ate).ly</h1>
  <p class="lead"></p>
  <div>
    <a class="btn btn-large btn-primary" href="https://vimeo.com/83073455">1. Watch Video Overview</a>
    <a class="btn btn-large btn-primary" href="/pages/download.html">2. Download Extension</a>
    <a class="btn btn-large btn-primary" href="/pages/servers.html">3. Find a Host</a>
  </div>
</div>

<hr>

<div class="row marketing">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4>Take Control</h4>
    <p>With Privly you can use <strong>any</strong> website without giving that website access to your content. You control your digital life. <a href="/pages/about.html">Learn more about controlling your digital life with Privly.</a></p>

    <h4>Download and Get Hosting</h4>
    <p>Privly changes the way your web browser works with a "browser extension". Learn more about the Privly extensions on the <a href="/pages/download.html">download page.</a> Anyone can host a server for Privly content, but we maintain a <a href="/pages/servers.html">list of hosts</a> for you if you don't have the required expertise.</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4>Flexible</h4>
    <p>Privly is a flexible framework, meaning web developers can build applications to keep Privly fresh and powerful. <a href="http://programming.oreilly.com/2013/07/securing-user-content-in-the-javascriptable-web.html">Learn more about Privly's design philosophy.</a></p>

    <h4>Open Source Non-Profit</h4>
    <p>Privly's source code is available on <a href="https://github.com/privly">GitHub</a>. To contribute code you should read <a href="https://www.privly.org/content/how-get-started">"How to Get Started"</a> on <a href="https://www.privly.org">privly.org</a>. The project is governed by the Privly Foundation, which is a US non-profit (pending IRS non-profit determination). <a href="https://www.privly.org/content/privly-foundation-governance">Learn more about the foundation.</a></p>
  </div>
</div>
