
<div class="jumbotron">
  <h1>Share Priv(ate).ly</h1>
  <p class="lead"></p>
  <div>
    <a class="btn btn-large btn-primary" href="https://vimeo.com/83073455">1. Watch Video Overview</a>
    <a class="btn btn-large btn-primary" href="/pages/download.html">2. Download Extension</a>
    <a class="btn btn-large btn-primary" href="/pages/servers.html">3. Find a Host</a>
  </div>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Take Control</h4>
    <p>With Privly you can use <strong>any</strong> website without giving that website access to your content. You control your digital life. <a href="/pages/about.html">Learn more about controlling your digital life with Privly.</a></p>
    
    <h4>Download</h4>
    <p>Privly changes the way your web browser works with a "browser extension". Learn more about the Privly extensions on the <a href="/pages/download.html">download page.</a></p>
    
    <h4>Get Hosting</h4>
    <p>Anyone can host a server for Privly content, but we maintain a list of hosts for you if you don't have the required expertise. <a href="/pages/servers.html">Learn about the Privly hosts.</a></p>
  </div>
  <div class="span6">
    <h4>Flexible</h4>
    <p>Privly is a flexible framework, meaning web developers can build applications to keep Privly fresh and powerful. <a href="http://programming.oreilly.com/2013/07/securing-user-content-in-the-javascriptable-web.html">Learn More about Privly's design philosophy</a></p>
    
    <h4>Open Source</h4>
    <p>Privly is developed under the MIT license and is available on <a href="https://github.com/privly">GitHub</a>. The best place to get plugged into Privly development is on <a href="http://www.privly.org/content/irc">IRC.</a></p>
    
    <h4>Non-Profit</h4>
    <p>The Privly project is governed by the Privly Foundation, which is a US non-profit (pending IRS non-profit determination). <a href="http://privly.org">Learn more about the foundation.</a></p>
  </div>
</div>
