
<div class="jumbotron">
  <h1>Change the Way Your Browser Works</h1>
  <p class="lead"></p>
  <div class="text-center">
   <a id="big_download_link" class="btn btn-large btn-primary" href="/pages/download.html">Download Privly</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
    <h2>Companies See Links</h2>
    <img src="/assets/images/before.png" class="img-responsive center-block" />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
    <h2>You See Content</h2>
    <img src="/assets/images/after2.png" class="img-responsive center-block" />
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4>Take Control</h4>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="/pages/about.html"><i class="fa fa-group fa-5x"></i></a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>With Privly you can use <strong>any</strong> website without giving that website access to your content. <a href="/pages/about.html">Learn more about controlling your digital life with Privly.</a>
        </p>
      </div>
    </div>

    <h4>Download and Get Hosting</h4>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="/pages/download.html"><i class="fa fa-download fa-5x"></i></a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>Privly changes the way your web browser works to give you privacy. Learn more about the <a href="/pages/download.html">Privly software</a> and <a href="/pages/servers.html">hosting options.</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h4>Flexible</h4>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="http://programming.oreilly.com/2013/07/securing-user-content-in-the-javascriptable-web.html"><i class="fa fa-gears fa-5x"></i></a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>Web developers use Privly to develop many privacy applications for any website. <a href="http://programming.oreilly.com/2013/07/securing-user-content-in-the-javascriptable-web.html">Read about Privly's Many-to-Any design philosophy.</a></p>
      </div>
    </div>

    <h4>Open Source Non-Profit</h4>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="https://github.com/privly"><i class="fa fa-github-square fa-5x"></i></a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>The project is <a href="https://www.privly.org/content/privly-foundation-governance">governed</a> by the Privly Foundation. Fork the code on <a href="https://github.com/privly">GitHub</a> or read the <a href="/pages/develop.html">development guide</a>.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Share Priv(ate).ly</h1>

<div class="text-center">
 <a id="big_download_link" class="btn btn-large btn-primary" href="/pages/download.html">Download Privly</a>
</div>
