---
layout: page
title: About
sub_title: More Info
header: About
---

<h2 id="what_is_privly">What is Privly?</h2>

<p>All too often you are forced to trade your personal privacy for access to the latest technologies. This "bargain" risks your personal data to changing rules, well meaning system changes, and criminal hacking.</p>
<br />
<p>Privly makes it impossible for others to control your personal data by hiding the content behind a user-controlled hyperlink. A <a href="/download.html">Privly browser extension</a> will then "inject" the content in place of the link without giving away access to the content. For those who don’t have the extension installed, they see a simple link. For those who do have <a href="/download.html">extension</a> installed, they are able to see your post on the page as it was intended. That’s because the extension pulls the data from the other side of the link into your Facebook page, Twitter feed, etc, seamlessly, without supplying that data to data miners. Meaning your content stays, <i>your</i> content.</p>
<br />
<p><b>Privly Does:</b></p>
<ul>
	<li>Give you the ability to share/post/tweet/chat anywhere without giving the host site access to the content</li>
	<li>Give you the power to grant or revoke access to your content to anyone or anywhere</li>
	<li>Give the content creator ownership of their data</li>
</ul>
<br />
<p><b>Official Privly Hosts Do NOT:</b></p>
<ul>
	<li>Use or sell your data</li>
	<li>Give your data to third party companies</li>
	<li>Own your content, you do</li>
</ul>
<br />
<p>Privly has proven itself as a concept. You can use it right now with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the <a href="/download.html">extensions</a> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or get a developer account and <%= link_to "start building", pages_join_path %>!</p>
<h2 id="how_does_it_work">How does it work?</h2>
<p>Privly gives you more than <b>privacy</b>, it gives you <b>security</b>. Shifting your data and trust from an organization that sells your data to one that in the long run, can’t even protect it, doesn’t help. Eventually, a hacker, rogue employee, government, or even someone close to you will expose everything you wrote in an email, said in a chat, or posted in a message. <b>No one can be trusted to protect your data forever</b>, so how can you use the internet for personal communication? The answer to the privacy problem is <b>encryption</b>.</p>
<br />
<p>Most users do not host their own web server, so Privly will enable people to trust <b>any storage provider</b> by taking away their ability to read your content. The Privly extensions will <b>encrypt your data</b> <em>before</em> you send it to a server for storage. Encrypting your data means the server only sees a scrambled version of your content. This way, you can store your data anywhere without losing your privacy.</p>
<br />
<p>Privly is built as an "Open Privacy Stack," meaning it is not tied to a particular way of doing things. Special "Privly Applications" will develop to meet your communication needs, and seamlessly interface with your favorite web communities. You don't have to sacrifice functionality to gain your privacy.</p>
<br />
<p>Privly has proven itself as a concept. You can use it right now with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the <a href="/download.html">extensions</a> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or get a developer account and <%= link_to "start building", pages_join_path %>!</p>
<br/>

<h2>Organization</h2>
<h2 style="font: normal 32px Lobster;">The Privly Foundation</h2>
<p>
Privacy on the internet is not something that can--or should--be owned. Privly's 2012 <a href="http://www.kickstarter.com/projects/229630898/protect-your-content-anywhere-on-the-web-privly">Kickstarter</a> funded the creation of the Privly Foundation. Incorporating the technology into a (pending) 501(c)3 tax-exempt foundation ensures the mission focus of Privly will be maintained. We thank our many donors on the <%= link_to "Privly donation page", pages_donate_path %>.
</p>

<br/>

<p>More information about the Privly Foundation can be found on <%= link_to "www.privly.org", "http://privly.org" %>. The inaugural Privly Foundation board meeting took place in September 2012 with the following board members:</p>

<br />

<p><strong><a href="http://www.linkedin.com/in/seanbmcgregor">Sean McGregor</a></strong> - <em>Ph.D. Student in Computer Science at Oregon State University</em></p>
<p>Sean McGregor is the creator and lead developer for the Privly project. A native of the United States, McGregor is a PhD student in computer science at Oregon State University. In 2008, McGregor earned a Bachelor of Arts from Claremont McKenna College, with studies in computer science, environmental policy, government, and economics.</p>

<br />

<p><strong><a href="http://www.linkedin.com/pub/carlos-jensen/0/145/356">Carlos Jensen</a></strong> - <em>Associate Professor of Computer Science at Oregon State University</em></p>
<p>Carlos Jensen is an Associate Professor in the School of Electrical Engineering and Computer Science (EECS) at Oregon State University (OSU). He received his B.S. degree in Computer Science from the State University of New York (SUNY) Brockport, and a Ph.D. in Computer Science from the Georgia Institute of Technology in 2005, where he was a member of the Graphics, Visualization and Usability Center (GVU).</p>

<br />

<p>His areas of research are in Usable Privacy and Security (HCISec), with a particular focus on making online decisions about privacy and security understandable and meaningful to users. He also does research related to open source communities.</p>

<br />

<p><strong><a href="http://www.linkedin.com/pub/leslie-hawthorn/0/231/624">Leslie Hawthorn</a></strong> - <em>Community Action and Impact at Red Hat</em></p>
<p>An internationally known community manager, speaker and author, <a href="http://twitter.com/lhawthorn">Leslie Hawthorn</a> has over 10 years experience in high tech project management, marketing and public relations. In March 2012 she joined <a href="http://redhat.com/">Red Hat, Inc.</a>, where she is responsible for Community Action &amp; Impact on the company’s Open Source and Standards team. Prior to Red Hat, she served as Outreach Manager at <a href="http://osuosl.org/">Oregon State University’s Open Source Lab</a> and as a Program Manager for <a href="http://code.google.com/opensource">Google’s Open Source Team</a>, where she managed the <a href="http://code.google.com/soc/">Google Summer of Code Program</a>, created the contest now known as <a href="http://code.google.com/gci">Google Code In</a> and launched the company’s <a href="http://google-opensource.blogspot.com/">Open Source Developer Blog</a>.</p>
</div>

<h2 id="open_source">Open Source</h2>
<div id="tabs-4">
<p>
Privly is about creating a square deal for users, and that can't be done with a closed-source, proprietary platform. Anyone can add their skills to the project and their contribution will be protected.
</p>

<br/>

<p>
<strong><em>Maintainers:</em></strong> 
<br />

<a href="https://github.com/smcgregor/">Sean McGregor</a>:
<a href="https://github.com/privly/privly-firefox">Firefox</a>
<a href="https://github.com/privly/privly-chrome">Chrome</a>
<a href="https://github.com/privly/privly-web">Content Server</a>
<a href="https://github.com/privly/privly-test">Test Cases</a>
<br />

<br />
<a href="https://github.com/jewifer">Jen Davidson</a>:
<a href="http://www.privly.org">Privly.org</a>

<br />
<a href="https://github.com/balajiathreya">Balaji Athreya</a>

<br />
<a href="https://github.com/born2c0ded">Sanchit Karve</a>:
<a href="https://github.com/privly/privly-opera">Opera</a>

<br />
<a href="https://github.com/hery">Hery Ratsimihah</a>:
<a href="https://github.com/privly/privly-iosd">iOS</a>

<br />
<a href="ttps://github.com/vshivamd">Shivam Vermah</a>:
<a href="https://github.com/privly/privly-android">Android</a>

</p>

<br />

<p>
<strong><em>Contributors:</em></strong>
<br />
<a href="https://github.com/irdan">Daniel Reichert </a>
<br />
<a href="http://de.linkedin.com/pub/hanno-wagner/6/33/305">Hanno Wagner </a> (System Administration)
<br />
<a href="https://github.com/qmaruf">Quazi Marufur Rahman</a>
<br />
<a href="http://www.linkedin.com/profile/view?id=204119935&locale=en_US&trk=tyah">Tyler Dugon</a>  (Graphics)
<br />
<a href="https://github.com/jhostetler">Jesse Hostetler</a>
<br />
<a href="https://github.com/JesseMarkowitz">Jesse Markowitz</a>
<br />
Jared Howe (User Docs)
<br />
</p>

<br />

<p><strong><em>Past Contributors:</em></strong>
<br />
<a href="http://www.linkedin.com/in/teamswetd">Swetal Patel%>
<br />
<a href="https://github.com/jayco">Jason Jacob</a>
<br />
<a href="https://github.com/jessepollak">Jesse Pollak</a>: 
Commits to <a href="https://github.com/privly/privly-safari">Safari</a> 
and <a href="https://github.com/privly/privly-web">Content Server</a>
<br />
<br />
<a href="https://github.com/dreamrulez07">Ravneet Singh</a>
<br />
<a href="https://github.com/Decode141">Rohan Durve</a>
<br />
<a href="https://github.com/gordyvision">Jordan Vrvilo</a>
<br />
<a href="https://github.com/selmanj">Joseph Selman</a>
<br />
Charles Martin:
Commits to <a href="https://github.com/privly/privly-firefox">Firefox</a>
</p>

<br />

<p>
For a more thorough treatment of Privly as a whole, visit <a href="https://github.com/privly/privly-organization/wiki/Privly-System-and-Organization-Overview">the overview</a>. For development discussion, join the <a href="https://groups.google.com/group/privly">Development Mailing List</a>. Many <a href="https://github.com/privly/">repositories</a> have their own wikis, but content not specific to a single repository will be in the <a href="https://github.com/privly/privly-organization/wiki/">central wiki</a>. Official announcements are found on <a href="http://www.privly.org">www.privly.org</a>. Live versions of the content server can be found at <a href="">privlyalpha.org", "https://privlyalpha.org" %> (stable) and <a href="https://dev.privly.org">dev.privly.org</a> (development). Auto-generated documentation can be found at <a href="http://doc.privly.org">doc.privly.org</a>. Extension test cases can be found at <a href="http://test.privly.org">test.privly.org</a>. 
<br />
<br />
Privly developers gather on IRC in the #Privly room on irc.freenode.net
</p>

<br />
